<div class="votes">
<div class="vote upvote">
<%= link_to root_path do %>
<%= image_tag "up.svg", size: "10x10"%>
<% end %>
</div>
<div class="vote count">
3
</div>
<div class="vote downvote">
<%= link_to root_path do %>
<%= image_tag "down.svg", size: "10x10" %>
<% end %>
</div>
</div>
